[color]
	diff = auto
	status = auto
	branch = auto
	ui = auto
[core]
	editor = vim
	excludesfile = /home/yangling/.gitignore_global
	autocrlf = input
	quotepath = false
[diff]
	tool = gvimdiff
[gui]
	encoding = utf-8
[svn]
    pathnameencoding = utf-8
[alias]
	co = checkout
	mer = merge --ff-only
	ri = rebase --interactive --autosquash
	fixup = !sh -c 'git commit -m \"fixup! $(git log -1 --format='\\''%s'\\'' $@)\"' -
	squash = !sh -c 'git commit -m \"squash! $(git log -1 --format='\\''%s'\\'' $@)\"' -
	st = status
	skipindex = update-index --skip-worktree
	noskipindex = update-index --no-skip-worktree
	merd = merge origin/develop --ff-only
	merm = merge origin/master --ff-only
[merge]
	tool = gvimdiff
[push]
	default = simple
