
root = true

[**.vim]
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8

[**.js]
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

[**.xml]
indent_style = space
indent_size = 2
trim_trailing_whitespace = true

[**.html]
indent_style = space
indent_size = 2
trim_trailing_whitespace = true

[**.jsp]
indent_style = space
indent_size = 2
trim_trailing_whitespace = true

[**.css]
indent_style = space
indent_size = 2
trim_trailing_whitespace = true

[**.mustache]
indent_style = space
indent_size = 2
trim_trailing_whitespace = true

[**.yml]
indent_style = space
indent_size = 2
trim_trailing_whitespace = true
