export GTK_IM_MODULE=fcitx
export QT_IM_MODULE=fcitx
export XMODIFIERS="@im=fcitx"
#export OOO_FORCE_DESKTOP=gnome
nohup vrome >/dev/null 2>&1 &

eval $(ssh-agent)
export SSH_ASKPASS=/usr/bin/ksshaskpass
/usr/bin/ssh-add
nohup wmsystemtray --fill-rows --non-wmaker --bgcolor white --arrows horizontal > /dev/null 2>&1 &
