[Unit]
Description=Arch Optimize Service
AssertFileIsExecutable=/usr/local/bin/arch-optimizer

[Service]
Type=oneshot
ExecStart=/usr/local/bin/arch-optimizer
IOSchedulingClass=idle
IOSchedulingPriority=7
