[Unit]
Description=devmon Service

[Service]
Type=simple
User=%i
PIDFile=/run/devmon-mine.pid
# Set DISPLAY for popup dialogs
Environment=DISPLAY=:0
ExecStart=/usr/bin/devmon -s --info-on-mount --exec-on-drive "notify-send -t 3000 \"Device %f %l has been automounted\"" --exec-on-unmount "notify-send -t 3000 \"Device %f %l has been UNmounted\"" --exec-on-remove "notify-send -t 3000 \"Device %f has been REMOVED\""
ExecStop=/usr/bin/devmon -u

[Install]
WantedBy=multi-user.target
