[Unit]
Description=devmon Service
AssertFileIsExecutable=/usr/local/bin/clean-umounted

[Service]
Type=simple
User=%i
PIDFile=/run/devmon.pid
# Set DISPLAY for popup dialogs
Environment=DISPLAY=:0
ExecStartPre=-/usr/local/bin/clean-umounted
ExecStart=/usr/bin/devmon -s --info-on-mount --exec-on-drive "notify-send -t 3000 \"Device %f %d %l has been automounted\"" --exec-on-disc "notify-send -t 3000 \"Disk %f %d %l has been automounted\"" --exec-on-video "notify-send -t 3000 \"DVD %f %d %l has been automounted\"" --exec-on-audio "notify-send -t 3000 \"CD %f %d %l has been automounted\"" --exec-on-unmount "notify-send -t 3000 \"Device %f %d %l has been UNmounted\"" --exec-on-unmount "/usr/local/bin/clean-umounted" --exec-on-remove "notify-send -t 3000 \"Device %f %d %l has been REMOVED\"" --exec-on-remove "/usr/local/bin/clean-umounted"
ExecStop=-/usr/bin/devmon -u
ExecStopPost=/usr/local/bin/clean-umounted

[Install]
WantedBy=multi-user.target
