[Unit]
Description=Empty Trash Service
AssertFileIsExecutable=/usr/local/bin/empty-trash

[Service]
Type=oneshot
ExecStart=/usr/local/bin/empty-trash %i
IOSchedulingClass=idle
IOSchedulingPriority=7
